
<!DOCTYPE html><!--deklarasi HTML 5-->

<html>
<head>
	<title>LOGIN</title>
		<link rel="shortcut icon" href="images/n_icon.png">
		<meta charset="utf-8">
		<meta name="keyword" content="Belajar Web Programming">
		<meta name="description" content="Web Programming adalah salah satu bahasa pemrograman yang digunakan untuk membuat sebuah website mulai dari 								   forntEnd sampai backEnd">
		<meta name="author" content="Nasution">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

	<div id="container">
			<div class="main">				
				<form class="maintext">		
						<h1 id="hone">We are </h1> 
						<h1 id="htwo">aroma </h1>							
						<h5 id="hthree">Selamat datang, silahkan login <br> untuk melakukan donasi</h5><br><br>
						
						<div class="input_box">
							<input type="text" required="" id="masukan">
							<label for="">Nama</label><br><br>
						</div>

						<div class="input_box">
							<input type="email" required="" class="inp1" id="masukan">
							<label for="">Email</label><br><br>
						</div>


						<div class="input_box">
							<input type="tel" required="" id="masukan">
							<label for="">No. Telephone</label><br><br>
						</div>

						<div class="input_box">
							<textarea id="masukan" placeholder="Alamat" rows="10"></textarea><br><br>
							<!-- <label for="">Alamat</label><br><br> -->
						</div>

						<div class="input_box">
							<input type="password" required="" id="masukan">
							<label for="">Password</label><br><br>
						</div>							
						
						<div>
							 <input type="checkbox" name="checkbox"><span  class="rem">Remember me</span>
						 	<a href="" id="forgot">Forget password?</a>
						</div>
						
						<br><br>

						<div class="tomboll">
							<button id="tomm1">Login</button>
						    <button id="tomm2">Sign Up</button>
						</div>

						
					</form>		
					
			</div>
		
			<div class="mainn">
				
				<div id="topmenu">
					<ul class="menu">
						<li><a href="home.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="kontak.html">Contact</a></li>
					</ul>

					<div class="logo">
						<img src="img/logo.png" alt="" width="300px">
					</div>
					
					<div class="but">
						<button id="but1">NEXT</button>
						<button id="but2">PREVIOUS</button>
					</div>
				</div><br><br>
					
			</div><br>		
		
			
	</div>

</body>
</html>