*{
	font-family: tohama;
}

.container{
	display: flex;
	width: 100%;
}

.left{
	background-color: grey;
	width: 28%;
	
}
.right{
	background-image: url("gedung.jpg");
	background-repeat:no-repeat; 
	width: 70%;
	background-image-width: 70%;

}
button{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.b1{
	background-color: black;
	color: white ;
}

.b2{
	background-color: white;
	color: grey;
}

.haha{
	margin: auto;
}

