/*================================================ K O N T A K ================================================================*/
*{
	padding: 0;
	margin:0;

}
body{
	background-color:#F7F7F7;
}
#container {
	width: 900px;
	margin: auto;
	margin-top: 60px;
}
#topmenu {
	text-align: center;

}
.menu {
	list-style: none;
	font-family:"calibri";
	font-weight: bold;

}
.menu li {
	display: inline;

}
.menu li a {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 10px;
}

.logo {
	margin: 70px 0px 0px 20px;
}
.main {
	background-color: white;
	height: 500px;
	width: 390px;
	float: left;
	text-align: left;
	font-family:"Calibri";

}
.maintext{
	padding:35px 0px 0px 30px;
	margin: 80px 30px auto;
}
.mainn{
	background-image: url("../img/daun1.jpg");
	background-repeat: no-repeat;
	height: 500px;
	width: 550px;
	margin-left: 390px;
	padding-right: 0px;
	
}

#hone {
	color: grey;
	float: left;
}
#htwo {
	color :black;
	float: right;
	margin-right: 110px;
}
#hthree {
	color: grey;
	margin-top: 50px;
}
 .inp {
 	margin-top: 40px;
 }
#inp1 {
	border-bottom: none;
}


input{
	padding:10px 30px;
	/*margin: 10px;*/
	display: inline;
	float: left;
	background: transparent;
	border: solid #F7F7F7;
}

input:focus {
	border-left: red solid 1px;
	outline: none;
}

button{
	color: white;
	border: none;
	background: #7B68EE;
	padding: 5px;
	cursor: pointer;
}
#tombol{
	text-align: center;
}

.but {
	margin: 60px 0px 0 400px;
}

#but1 {
	background-color: #5F7168;
	border: #5F7168 solid 1px;
	color: white;
	font-size: 11px;
}
#but2 {
	background-color: transparent;
	border: #5F7168 solid 1px;
	color: white;
	float: left;
	font-size: 11px;
}

#rem {
	float: left;
	color: black;
	margin-left: 5px;
} 
#forgot {
	text-decoration: none;
	color: black;
	float: right;
}
.tomboll {
	margin-top: 70px;
}

#tomm1 {
	background-color: black;
	color: white;
	border: black solid 1px;
	border-radius: 3px;
	padding: 10px 35px;
	margin-right: 20px;
}

#tomm2 {
	background-color: transparent;
	color: grey;
	border: grey solid 1px;
	border-radius: 3px;
	padding: 10px 30px;

}