<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="login.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="content">
			<div class="side-left">
				<h3 class="title">We are <span class="title-2">mosdev</span></h3>
				<p class="isi">Welcome Back, Please Login<br>
				to your account.</p>
				

				<div class="input-wrap">
					<input type="text" name="email" required>
					<label> Email</label>
					<input type="password" name="password" required>
					<label>Password</label>
				</div>
				

				<div class="checked">
					<input type="checkbox" name="Remember" value="Remember me" class="check"> Remember me
					<a href="#" class="forgot"> Forgot Password</a>
				</div>
				<div class="button">
					<button type="button" class="button-login"> Login </button>
					<button type="button" class="button-signup"> Sign up </button>
				</div>
				<div class="footer">
					<p class="foot">By Signing up, you agree to Mosdev's</p>
					<p>Terms and Conditions <span class="foot-2">&</span>Privacy Policy</p>
				</div>
			</div>
			<div class="side-right">
				<div class="menu">
					<ul class="menu-item">
						<li><a href="#">ABOUT US</a></li>
						<li><a href="#">SHOWCASE</a></li>
						<li><a href="#">LETTERS</a></li>
						<li><a href="#">CONTACT</a></li>
						<li><a href="#">BLOG</a></li>
					</ul>
				</div>
				<div class="button-right">
					<button type="button" class="button-1">PREVIOUS</button>
					<button type="button" class="button-2">NEXT</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>